* {
	margin: 0;
	padding: 0;
}
		
body{
	/* muda a cor do fundo */
	background-color: white;
	font-family: Saira Stencil One; 
}
/* STYLE DOS CARDS */
.td-card{
	padding-left: 35px;
	padding-right: 35px;
}
.td-card-esquerda{
	margin-left: 150px;
	padding-right: 35px;
	margin-left: 50px;

}
.card-text{
	background-color: #FAB1A0;
	height: 50px;
	width: 250px;
	text-align: center;
	padding-top: 13px;
}
table{
	margin-left: 150px;
}

.col-8{
	/* centraliza o texto quando for col/8 */
	
	padding-bottom: 50%;
}
.rodape{
	/* muda a cor do fundo do footer */
	background-color: #FFEAA7;
	height: auto;
}
