		
body{
	/* muda a cor do fundo */
    background-color: white;
    /* define fonte padrão do arquivo */
	font-family: Saira Stencil One; 
}

.titulo{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}
.pedidos{
    text-align: center;
    background-color: #FAB1A0;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.row row-cols-2{
    padding-bottom: 2px;
}
.legenda{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 2px;
    padding-top: 2px;
}














/* STYLE DA NAVBAR */
nav{
	/* muda a cor do fundo da navbar */
	background-color: #FDCB6E;
}

/* STYLE DO FOOTER */ 
.col-8{
	/* centraliza o texto quando for col/8 */
	text-align: center;
	padding-top: 40px;
}
.rodape{
    /* muda a cor do fundo do footer */
    margin-top: 150px;
	background-color: #FFEAA7;
}
