﻿/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}
/* navbar */

.menu img{
    width: 35%;
    height: 35px;
    float: left;
    
}
.menu{
    width: 100%;
    height: 35px;
    background-color:#FDCB6E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-left: 5px;
   
}
.menu ul{
    list-style: none;
}
.menu ul li{
    width: 200px;
    float: right;
}
.menu a{
    text-decoration: none;
    text-align: center;
    background-color:#FDCB6E;
    color: #2D3436;
    font-size: 18px;
    
}



h1{
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 250%;
    text-align:center;
   
    color: #2D3436;
    
}
.formulario{
    align-items: center;
    text-align: center;
    background-color: #E4E4E6; 
    max-width: 60%;
    margin: auto;
}
.principal{
    padding-bottom: 1%;
    padding-top: 1%;

}


input{
    width: 30%;
    padding: 9px;
    margin: 1%;
    border: 1px solid #2D3436;
    background-color: #DFE6E9;
}
textarea{
    width: 400px;
    height: 120px;
    line-height: 20px;
    border: 1px solid #2D3436;
    background-color: #DFE6E9;
}


.escrita{
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#2D3436;
    font-size: 25px;
}

.rodape{
    margin-top: 5%;
    width: 100%;
    height: auto;
    background-color:#FFEAA7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-left: 5px;
    text-align: center;
}

.personalizar{
    border:1px solid rgb(223, 95, 127);
	border-radius:4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight:bold;
	font-size:13px;
	padding: 15px;
	text-decoration:none;
	background-color: rgb(223, 95, 127);
    color:#fff;

}
.div-select {
    width:250px;  /* Tamanho final do select */
    overflow:hidden; /* Esconde o conteúdo que passar do tamanho especificado */
}
  
.div-select select {
      background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-select.gif) no-repeat #354880;  /* Imagem de fundo (Seta) */
      background-position: 205px center;  /*Posição da imagem do background*/
      width: 270px; /* Tamanho do select, maior que o tamanho da div "div-select" */
      height:48px; /* altura do select, importante para que tenha a mesma altura em todo os navegadores */
      font-family:Arial, Helvetica, sans-serif; /* Fonte do Select */
      font-size:18px; /* Tamanho da Fonte */
      padding:13px 20px 13px 12px; /* Configurações de padding para posicionar o texto no campo */
      color:#fff; /* Cor da Fonte */
      text-indent: 0.01px; /* Remove seta padrão do FireFox */
      text-overflow: "";  /* Remove seta padrão do FireFox */     
  
}